<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Главная</title>
</head>
<body>
<section class="container" style="margin-top: 5vh">
	<div class="border" style="display: flex; justify-content: space-between; align-items: center">
		<div style="margin-left: 1vw">
            <h1>Java Spring Chat</h1>
        </div>
        <div>
            <button class="btn" onclick="window.location.href = '/registration'">Регистрация</button>
            <button class="btn" onclick="window.location.href = '/login'" style="margin-left: 1vw; margin-right: 1vw">Вход</button>
            </ul>
        </div>
	</div>
</section>
</body>
</html>