<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Ifmo Re-exam</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="unauthenticated">
        <h3><a class="btn btn-primary btn-lg" href="/oauth2/authorization/google">Login ith Google</a></h3>
    </div>
    <div class="authenticated" style="display: none">
        <h3>Logged in as: <span id="username"></span></h3>
        <div id="username-change">
            <label for="username-change-new-username">New username: </label><input id="username-change-new-username">
            <button id="username-change-button" class="btn btn-default" onclick="changeMyUsername()">Change username</button>
        </div>
        <hr>
        <br>
        <div id="rooms">
            <ul id="rooms-list"></ul>
            <div id="rooms-create">
                <label for="rooms-create-name">New room name </label>
                <input id="rooms-create-name">
                <label for="rooms-create-private">isPrivate: </label>
                <input id="rooms-create-private" type="checkbox"><br>
                <button id="rooms-create-button" class="btn btn-primary btn-default" onclick="createRoom()">Create new room</button>
            </div>
        </div>
        <div id="room" style="display: none">
            <button id="room-back-button" class="btn btn-default" onclick="getRooms()">Back</button>
            <h3 id="room-name"></h3>
            <h5 id="room-admin">Admin is <div id="room-admin-name"></div></h5>
            <div id="room-all-messages">
                <label for="room-all-messages-from">From date: </label>
                <input id="room-all-messages-from" type="date"><br>
                <label for="room-all-messages-to">To date: </label>
                <input id="room-all-messages-to" type="date"><br>
                <button id="room-all-messages-button" class="btn btn-sm" onclick="getRoomAllMessages()">Get room all messages</button>
            </div>
            <div id="room-name-change" style="display: none">
                <label for="room-name-change-new-room-name">New room name: </label>
                <input id="room-name-change-new-room-name"><br>
                <button id="room-name-change-button" class="btn btn-sm" onclick="changeRoomName()">Change room name</button>
            </div>
            <div id="room-private-change" style="display: none">
                <button id="room-private-change-button" class="btn btn-sm" onclick="changeRoomPrivate()">Make room private</button>
            </div>
            <div id="room-invite" style="display: none">
                <label for="room-invite-username">Invite username: </label>
                <input id="room-invite-username"><br>
                <button id="room-invite-button" class="btn btn-sm" onclick="inviteUser()">Invite user</button>
            </div>
            <div id="room-get-stats-top">
                <button id="room-get-stats-top-button" class="btn btn-sm" onclick="getRoomStatsTop()">Get the most chatty users</button>
            </div>
            <div id="room-all-messages-from-text" style="display: none">Messages from <div id="room-all-messages-from-text-value"></div></div><br>
            <div id="room-all-messages-to-text" style="display: none">to <div id="room-all-messages-to-text-value"></div></div>
            <hr>
            <ul id="room-messages"></ul>
            <div id="room-messages-create">
                <input id="room-id" type="hidden">
                <label for="room-messages-create-text">Text: </label><input id="room-messages-create-text">
                <button id="room-messages-create-button" class="btn btn-primary" onclick="createMessage()">Post</button>
            </div>
        </div>
        <div id="room-stats" style="display: none">
            <button id="room-stats-back-button" class="btn btn-default" onclick="getRooms()">Back</button>
            <ul id="room-stats-top"></ul>
        </div>
        <br>
        <div>
            <button onClick="logout()" class="btn btn-lg">Logout</button>
        </div>
    </div>

</div>
<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/js-cookie/2.1.0/js.cookie.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>