<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Ifmo Re-exam</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container" style="min-height: 500px">
    <div class="unauthenticated">
        <a class="btn btn-primary btn-lg" href="/oauth2/authorization/google">Login ith Google</a>
    </div>
    <div class="authenticated" style="display: none">
        <h3>Logged in as: <span id="username"></span></h3>
        <br><br>



        <div>
            <button onClick="logout()" class="btn btn-primary btn-lg">Logout</button>
        </div>
    </div>

</div>
<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>